* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: antiquewhite; */
}
section{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap : 20px;
}
h1{
    font-weight: 800;
    color: #080808;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: antiquewhite;
}
h2{
    font-weight: 800;
    color: #080808;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: antiquewhite;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    list-style: none;
    padding: 5px 10px;
    background-color: rgb(132, 251, 211);
    border-radius: 0.5rem;
}
li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #080808;
}
li {
    margin-top: 10px;
}

li  a:hover {
    background-color: #080808;
    color: #fff;
    transition: 0.3s ease-in-out;
}

@media (max-width: 500px) {
     h1, h2 {
        text-align: center;
    }
}