*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerinner {
    background-color: rgb(11, 11, 59, 0.5);
    border: 4px black;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.navlist li a {
    color: black;
    position: relative;
    font-weight: 500;
    text-decoration: none;
}

.headerinner button{
    width: 80px;
    height: 30px;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(16, 81, 81);
    color: white;
    box-shadow: 4px 4px 5px rgb(50, 62, 62);
    border-radius: 20px;}
    

button:hover {
    box-shadow: 0 0 20px rgb(74, 17, 17);
    cursor: pointer;
    transition: 0.3ms;
}
.navlist li a:hover{
    box-shadow: 5px 5px 7px rgb(74, 17, 17);
    color: rgb(9, 15, 15);
    transition: 0.2ms;
}
.logo-text:hover{
    text-shadow: 10px -7px 15px rgb(74, 17, 17);
}
.headerinner:hover{
    border: 2px solid rgb(74, 17, 17);
    box-shadow: 5px 5px 7px rgb(74, 17, 17);
}
.search{
    margin: 5px 0;
    border: none;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    background-color: #f0f0f0;
    /* color: black; */
}
.search:hover {
    border: 7px solid#ccc;
    box-shadow: 0 0 20px rgb(74, 17, 17);
    transition: 0.3ms;
}
img:hover{
    border: 5px solid rgb(74, 17, 17);
}
p:hover{
    cursor: pointer;
    text-shadow: 7px 0 20px rgb(105, 85, 85);
    transition: 0.3ms;
}
h2:hover{
    text-shadow: 5px 0 20px rgb(9, 9, 9);
    transition: 0.3ms;
}
h3:hover{
    text-shadow: 0 0 20px rgb(9, 9, 9);
    transition: 0.3ms;
}
.shop-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
   
}
.shop-header img {
    margin: 0px 5%;
    width: 100%;
    aspect-ratio: 64/27
    
}


.shop-header button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(12, 62, 62);
    color: aliceblue;
    box-shadow: 10px rgb(50, 62, 62);
    border-radius: 20px;
}

.shop-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px 10%;
}

.section-title{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-card{
    display: flex;
    justify-content: space-between;
    
}
 .product-image{
    width: 20rem;
    height: 20rem;
    margin: 25px;
  
 }
 
footer{
    text-align: center;
    background-color: rgb(22, 8, 8);
    color: aliceblue;
    position: relative;
    bottom: 0;
}
.login-form {
    display: none;
    max-width: 400px;
    margin: 40px 40px;
    padding: 25px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}
.form{
    display: none;
    /* padding-top: 2rem; */
    display: flex;
    justify-content: center;
    background-color: black;
    background: blured;
}
.login-form h2:hover {
    text-shadow: 5px 0 20px rgb(9, 9, 9);
    transition: 0.2ms;
}
.login-form input:focus {
    outline: none;
}
.login-form:hover{
    border: 2px solid rgb(243, 238, 238);
    box-shadow: 0 0 20px rgb(249, 247, 247);
    transition: 0.3ms;
}

.product-card button {
    margin-top: 7px;
    display: none;
    width: auto;
    height: 20px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(12, 62, 62, 0.6);
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    align-self: center;

}
@media(max-width: 856px) {
    .headerinner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: start;
        background-color: transparent;
        
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: rgb(11, 11, 59, 0.5);
        padding: 10px;
    }
    .logo-text{
        text-align: center;
        width: 100%;
        background-color: transparent;
    }
    .product-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
}
@media(min-width: 856px) {
        .headerinner {
            flex-direction: row;
            gap: 1.5rem;
            align-items: center;
            background-color: rgb(11, 11, 59, 0.5);
            margin: 0px 5%;
        }
        .logo-text{
            text-align: center;
            display: block;
            background-color: transparent;
            
        }


    }



@media(max-width: 450px) {
        .headerinner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5rem;
            align-items: flex-start;
            background-color: transparent;
        }
        .navbar{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            background-color: rgb(11, 11, 59, 0.5);
            /* padding: 10px; */
            margin-left: 0px;
            font-weight: 100;
        }
        .navbar ul {
            display: flex;
            flex-direction: column;
           
            align-items: flex-start;
        }

        
        .logo-text{
            text-align: center;
            display: block;
            background-color: transparent;
        }
        .product-image{
            width: 10rem;
            height: 10rem;
            margin: 25px;
        
        }
        
}
.contact{
    text-align: center;
}
img {
    border-radius: 1rem;
}