* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerinner {
    background-color: rgb(11, 11, 59, 0.5);
    border: 4px black;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.navlist li a {
    color: black;
    position: relative;
    font-size: 12;
    font-weight: 500;
    text-decoration: none;
}

button {
    width: 60px;
    height: 30px;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(12, 62, 62);
    box-shadow: 10px rgb(50, 62, 62);
    border-radius: 20px;
}

button:hover {
    box-shadow: 0 0 20px rgb(74, 17, 17);
    cursor: pointer;
    transition: 0.3ms;
}

.section-hero {
    padding: 1% 10% 2% 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-title {
    margin: 15px 7%;
}

.feature {
    margin: 10px 5%;
    display: flex;
    flex: 1;
    gap: 32px;

}

.feature-card img {
    width: 100%;
    height: 60%;
    display: block;
}

.feature-card h3 {
    margin-top: 10px;
}

.secondary {
    margin: 10px 7%;
    display: flex;
    flex: 1;
    gap: 31px;
}

.secondary img {
    width: 100%;
    height: 60%;
    display: block;
}

.secondary-card h3 {
    margin-top: 10px;
}

footer {
    background-color: rgb(33, 16, 16);
    color: aliceblue;
    position:relative;
    bottom: 0;
}

.h {
    text-align: center;
}