*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerinner{
    background-color: rgb(11, 11, 59, 0.5);
    border: 4px black ;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    list-style: none;
    
    display: flex;
    flex-direction: row;
    gap: 2rem;

}
.navlist li a{
    color: black;
    position: relative;
    font-size: 12;
    font-weight: 500;
    text-decoration: none;
}
.bu{
    width: 60px;
    height: 30px;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(12, 62, 62);
    color: aliceblue;
    box-shadow: 10px rgb(50, 62, 62);
    border-radius: 20px;
}

button:hover{
    box-shadow: 0 0 20px rgb(74, 17, 17);
    cursor: pointer;
    transition: 0.3ms;
}
.shop-header{
    /* width: 100%;
    min-height: 60vh;
    background-image: url("https://images.pexels.com/photos/5407212/pexels-photo-5407212.jpeg?_gl=1*19tpst1*_ga*MTc0NTg2ODA5NS4xNzYwMjQ4MzM2*_ga_8JE65Q40S6*czE3NzA0ODM0MDgkbzExJGcxJHQxNzcwNDg0NTk3JGo1OCRsMCRoMA..");
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
   
}
.shop-header img {
    width: 100%;
    aspect-ratio: 64/27
    
}

/* @media (max-width: 768px) {
    .shop-header {
        min-height: 40vh;      smaller hero on mobile
        background-position: center top;
        padding: 20px;
    }
}

 @media (max-width: 768px) {
    .shop-header {
        aspect-ratio: 4 / 3;
    }
} */

.but{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    background-color: rgb(12, 62, 62);
    color: aliceblue;
    box-shadow: 10px rgb(50, 62, 62);
    border-radius: 20px;
}
.section-title{
    font-weight: 600;
    margin: 20px;
    text-shadow: 5px ;
}
.product-card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
 .product-image{
    width: 300px;
    height: 300px;
    margin: 25px;
    display: flex;
    position: relative;
    left: 40%;
 }
 .product-name{
    position: relative;
    left: 50px;
 }
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 8, 8);
    color: aliceblue;
    position: relative;
    bottom: 0;
}
.contact{
    text-align: center;
}